name: CI on Multiple Events

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master



jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Checkout code

      - name: Set up Python
        run: |
          echo "Setting up Python environment..."
          python --version

      - name: Run tests
        run: |
          echo "Running tests..."
          # Buraya test komutlarını ekleyebilirsiniz
          echo "Tests completed!"
